@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
  background: #000;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}

.btn, .form-control {
  box-shadow: none !important;
}

.fa-clock {
  color: #dc3545;
}

canvas {
  transition: visibility 0s linear 0s, opacity 300ms;
  border-radius: 5px;
  border: 1.5px solid #dc3545;
}

#main,
#granted-text,
#denied-text {
  display: none;
}

.nav-link,
.nav-link:hover,
.nav-link:active {
  color: #dc3645;
  background: #1b1b1b;
}

.nav-link.active {
  background: #dc3645 !important;
}

.bg-dark {
  background: rgba(255, 255, 255, 0.05) !important;
}