* {
  font-family: sans-serif;
}
body {
  margin: 8px;
}

#main,
#error-text {
  display: none;
}

::-webkit-outer-spin-button,
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
  display: none;
}
